:root{
    --primaryColor: #ff274b;
    --secondryColor: #f7bcf7;
    --lightColor: #FFFFFF;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 7%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}
.home{
    background-color: var(--bgColor-1);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
span{
    color: var(--primaryColor);
}
h1{
    font-size: 3.5rem;
    margin: 1.7rem 0;
}
h2{
font-size: 2rem;
letter-spacing: 0.3rem;
cursor: pointer;
}
h3{
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
h4{
    font-size: 2rem;
    letter-spacing: 0.1rem;
}
h5{
    margin-bottom: 1.5rem;
    letter-spacing: 0.2rem;
    font-size:1.5rem;
  }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 1rem 1.2rem;
}
nav ul li a{
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: var(--primaryColor);
    transition: 0.4s;
}
.btn{
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    border: 4x solid transparent;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    transition: 0.4s;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primaryColor);

}
.content{
    padding: 0 var(--padding);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-text{
position: relative;
bottom: 30px;
}
.social{
    margin-top: 2.7rem;
}
.social img{
    margin-right: 0.5rem;
    width: 3rem;
}
.social img:hover{
    transform: scale(1.4);
    transition: 0.4s;
}
.social a{
   text-decoration: none;
}
.home .container-images{
width: 45%;
height: 90%;
align-self: flex-end;
position: relative;
}